fastapi==0.133.1
uvicorn==0.41.0
pydantic==2.12.5
SQLAlchemy==2.0.47
psycopg2-binary==2.9.12
pandas==2.3.3
numpy==2.4.2
openpyxl==3.1.5
xlrd==2.0.2
python-calamine==0.6.2
python-multipart==0.0.29
python-dotenv==1.2.2
httpx==0.28.1
